@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;

  --primary-color: #14183A;
  --secondary-color: #374151;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  padding: 80px 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--foreground) !important;
    background: var(--background) !important;
  }
}