$bgColor: #F6F6F6;
$bgColorExpanded: #FFFFFF;

$marginBottom: 10px;
$marginBottomExpanded: 22px;

$boxShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

// Base styles for potential props elements that may be added in the future in children components
.common-style-toggle-item-children-components {
    @apply text-sm sm:text-base xl:text-lg;

    ul,
    ol {
        @apply mb-3 list-disc pl-6;
    }

    // Link with icon
    a.icon,
    .link.icon {
        @apply underline inline-flex items-center;

        &::after {
            @apply inline-block w-screen max-w-5 h-screen max-h-5 content-[attr(before)] ml-3;
            @apply bg-[url('/images/icons/icon-arrow-button.svg')] bg-contain bg-no-repeat;
        }
    }

    .button {
        @apply mb-2 first-of-type:mt-10 lg:first-of-type:mt-14;
        @apply mr-2 last-of-type:mr-0;
    }

    li {
        &::marker {
            @apply text-xs;
        }
    }

    a,
    .link {
        @apply underline;
    }

    .group-links {
        @apply flex flex-col gap-3 mt-10 mb-2;
    }

    .content-block {
        @apply mb-6;
    }
}


.primary-toggle-item {
    @apply px-2 py-0 rounded-sm !important;

    .primary-toggle-item__title {
        @apply sm:text-lg !important;
    }

    .MuiAccordionSummary-expandIconWrapper {
        @apply w-[20px] h-[20px] !important;
    }

    &.MuiAccordion-root {
        background-color: $bgColor;
        margin-bottom: $marginBottom;
        box-shadow: $boxShadow;

        transition: background-color 350ms;

        @apply rounded-[14px] xl:rounded-[18px];
        @apply p-1 sm:p-2 md:p-3 xl:py-4 xl:px-6;

        &::before {
            display: none !important;
        }

    }

    // expanded
    &.MuiAccordion-root.Mui-expanded {
        background-color: $bgColorExpanded;
        margin-bottom: $marginBottomExpanded;
    }

    // disabled
    &.MuiAccordion-root.Mui-disabled {
        background-color: $bgColor !important;
    }

    .primary-toggle-item__title {
        @apply text-base sm:text-lg md:text-xl lg:text-2xl m-0;
    }
}